@charset "utf-8";
body{
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden;
}
/**********************************导航栏***********************************/
nav{
position: fixed;
top: 0;
left: 0;
width: 100px;
height: 100%;
padding: 0;
background-color: #FFFFFF77;
z-index: 1;
}

.menu{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.menu-item{
    margin: 8px;
    padding: 10px 0;
    background-color: #AC1400;
    color: white;
    font-weight: bolder;
}
.menu-item:hover{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 0;
    background-color: #CE1700;
    color: white;
    font-weight: bolder;
}
/**********************************主体***********************************/
.main{
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    background-color:#FFFFFF;
    border-width: 0;
    width: auto;
}
.main iframe{
    height: 100%;
    width: 100%;
    border-width: 0;
    scrolling: no;
}
a{
    color: #000000;
    text-decoration: none;
}
a:hover{
    color: #000000;
    text-decoration: none;
}
