@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
body{
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.box{
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 100px;
    background-color: #FFFFFF77;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color:#AC1400;
    z-index: 1;
}
h1{
    font-size: 45px;
    letter-spacing: 5px;
}
h3{
    font-size: 21px;
}
ul li {
  list-style: none;
}
.banner {
  width: 100%;
  height: 100%;
  position:fixed;
  top: 0;
}

.banner-view1{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.pic00 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size:cover;
  opacity: 0;
  transition: opacity 0.6s;
}

.pic111 {
  background-image: url(img/1.jpg);
}
.pic222 {
  background-image: url(img/10.jpg);
}
.pic333 {
  background-image: url(img/3.jpg);
}
.pic444 {
  background-image: url(img/4.jpg);
}
.pic555 {
  background-image: url(img/5.jpg);
}
.pic666 {
  background-image: url(img/6.jpg);
}

.indicators {
  width: 300px;
  height: 30px;
  position: absolute;
  top: 60%;
  left: calc(50% - 150px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFFFFF77;
  cursor: pointer;
}
